backend/n8n-workflow.json
{
  "name": "RSVP — Bartek & Natalia 40",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook POST — Przyjmij RSVP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 280],
      "parameters": {
        "httpMethod": "POST",
        "path": "rsvp",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "bartek-rsvp-submit"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Zapisz do pamięci",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 280],
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!sd.rsvps) sd.rsvps = [];\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst entry = {\n  timestamp: new Date().toLocaleString('pl-PL'),\n  firstName: (body.firstName || '').trim(),\n  lastName:  (body.lastName  || '').trim(),\n  punctual:  body.punctual  || 'nie podano',\n};\n\nif (!entry.firstName || !entry.lastName) {\n  return [{ json: { success: false, error: 'Brak imienia lub nazwiska' } }];\n}\n\nsd.rsvps.push(entry);\n\nreturn [{ json: { entry, total: sd.rsvps.length, success: true } }];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Wyślij email do Bartka",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 280],
      "parameters": {
        "fromEmail": "rsvp@imprezaroku.eu",
        "toEmail": "bartosz.jatczak@gmail.com",
        "subject": "=🎉 RSVP #{{ $json.total }}: {{ $json.entry.firstName }} {{ $json.entry.lastName }} potwierdza!",
        "text": "=NOWE POTWIERDZENIE OBECNOŚCI\n────────────────────────────────\n\nImię:         {{ $json.entry.firstName }}\nNazwisko:     {{ $json.entry.lastName }}\nPunktualnie:  {{ $json.entry.punctual }}\nData:         {{ $json.entry.timestamp }}\n\n────────────────────────────────\n✅ Łączna liczba gości: {{ $json.total }}\n────────────────────────────────\n\nPozdrowienia,\nStrona imprezaroku.eu",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP (skonfiguruj w Credentials)"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Odpowiedź POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 280],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: $json.success, total: $json.total }) }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Webhook GET — Licznik",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "parameters": {
        "httpMethod": "GET",
        "path": "rsvp-count",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "bartek-rsvp-count"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Zwróć licznik",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 500],
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst rsvps = sd.rsvps || [];\nreturn [{ json: { rsvps: rsvps.length, people: rsvps.length } }];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Odpowiedź GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 500],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Webhook GET — Lista (admin)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 720],
      "parameters": {
        "httpMethod": "GET",
        "path": "rsvp-list",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "bartek-rsvp-list"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Sprawdź klucz i zwróć listę",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 720],
      "parameters": {
        "jsCode": "const key = $input.first().json.query?.key || '';\nif (key !== 'urodziny') {\n  return [{ json: { error: 'Brak dostępu' } }];\n}\nconst sd = $getWorkflowStaticData('global');\nreturn [{ json: { list: sd.rsvps || [] } }];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Odpowiedź lista",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 720],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook POST — Przyjmij RSVP":  { "main": [[{ "node": "Zapisz do pamięci",            "type": "main", "index": 0 }]] },
    "Zapisz do pamięci":             { "main": [[{ "node": "Wyślij email do Bartka",        "type": "main", "index": 0 }]] },
    "Wyślij email do Bartka":        { "main": [[{ "node": "Odpowiedź POST",                "type": "main", "index": 0 }]] },
    "Webhook GET — Licznik":         { "main": [[{ "node": "Zwróć licznik",                 "type": "main", "index": 0 }]] },
    "Zwróć licznik":                 { "main": [[{ "node": "Odpowiedź GET",                 "type": "main", "index": 0 }]] },
    "Webhook GET — Lista (admin)":   { "main": [[{ "node": "Sprawdź klucz i zwróć listę",  "type": "main", "index": 0 }]] },
    "Sprawdź klucz i zwróć listę":  { "main": [[{ "node": "Odpowiedź lista",               "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "versionId": "1"
}
